[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
py = ">=1.10.0"
PyYAML = ">=5.4"
pytest = "*"
pytest-watch = "*"

[requires]
python_version = "3.7"
